* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.panel {
    color: slategray;
    border: 2px solid red;
    padding: 15px;
    border-radius: 5px;
    margin: 30px auto;
    width: 320px;
    height: 400px;
    background-color: ghostwhite;
}

#email {
    font-size: 18px;
    font-style: italic;
}

#present, #missing {
    font-size: 20px;
}

.hidden {
    display: none;
}

.showup {
    display: inline-block;
}