* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    width: 80%;
}

p {
    text-align: center;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: slategray;
    border: 2px solid red;
    padding: 15px;
    border-radius: 5px;
    margin: 30px auto;
    width: 320px;
    height: 400px;
    background-color: ghostwhite;
}

#email {
    /* spezzo l'indirizzo mail, se troppo lungo */
    word-break: break-all;
    color: blue;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

#present, #missing {
    font-size: bold;
    color: black;
    font-size: 28px;
}

.hidden {
    display: none;
}

.showup {
    display: inline-block;
}

a {
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    color: red;
}