* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.container {
    width: 80%;
}

#email {
    font-size: 18px;
    font-style: italic;
}

#present, #missing {
    font-size: 20px;
}

.hidden {
    display: none;
}

.showup {
    display: inline-block;
}